
.article-contenedor{
    display: grid;
    justify-content: center;
    box-shadow: 0 2px 4px rgba(99, 99, 99, 0.1);
    width: 100%;
   
    
}

.article-contenedor a:hover{
    background-color: black;
    color: #fff;
}


.ItemImg {
width:80px;

}