.pedido{
    text-align: center;
    color: rgb(0, 110, 0);
    font-size: 2.5rem;
    font-weight: 700;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding-top: 5rem;
}