.NavBar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60px;
    width: 100%;
    background: rgb(199, 199, 199);
  }
  .logo2 {
    text-decoration: none;
    color: #000000;
    font-size: 2rem;
    padding: 1rem;
    font-weight: 800;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    
  }
  
  .Categories {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  
  .Option {
   
    text-decoration: none;
    margin: 0 50px;
    width: auto;
    padding: 10px;
    font-size: 8px;
    background: #000000;
    border-radius: 4px;
    flex: none;
    display: flex;
    order: 1;
    align-self: center;
    flex-grow: 0;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #fafafa;
    cursor: pointer;
    outline: inherit;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  
  .ActiveOption {
   
    text-decoration: none;
    width: auto;
    padding: 12px;
    font-size: 15px;
    background: rgb(0, 0, 0);
    border-radius: 4px;
    flex: none;
    display: flex;
    order: 1;
    align-self: center;
    flex-grow: 0;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #FFFFFF;
    border: none;
    border-style: none;
    cursor: pointer;
    outline: inherit;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
