.ListGroup {
    width: 100%;
    display: grid;
    grid-auto-rows: 22rem;
    grid-template-columns: 33% 33% 33%;
    justify-content: center
    
}



@media (max-width:600px){
    .ListGroup {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
}
